{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .pageStyle {
            background-image: url('{{ asset('assets/img/bg.avif') }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 35%;
        }

        .formStyle {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
        }

        .formStyle h1 {
            text-align: center;
        }

        .formStyle .btn {
            width: 100%;
        }

        .formStyle input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</style>
{% endblock %}

{% block body %}
<body class="pageStyle">
<div class="formStyle">
    <h1 class="text-center">Reset your password</h1>

    {{ form_start(resetForm) }}
    <div class="mb-3">
        {{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
    </div>
    {{ form_end(resetForm) }}
    </div>
    </body>
{% endblock %}
